<?xml version="1.0"?>
<RedisEndpoint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WriteServerList>
    <string>127.0.0.1</string>
  </WriteServerList>
  <ReadServerList>
    <string>127.0.0.1</string>
  </ReadServerList>
  <MaxWritePoolSize>5</MaxWritePoolSize>
  <MaxReadPoolSize>5</MaxReadPoolSize>
  <AutoStart>true</AutoStart>
  <LocalCacheTime>7200</LocalCacheTime>
  <RecordeLog>true</RecordeLog>
  <Db>0</Db>
</RedisEndpoint>