<?xml version="1.0"?>
<RedisEndpoint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Host>192.168.1.123</Host>
  <Port>6379</Port>
  <Ssl>false</Ssl>
  <ConnectTimeout>-1</ConnectTimeout>
  <SendTimeout>-1</SendTimeout>
  <ReceiveTimeout>-1</ReceiveTimeout>
  <RetryTimeout>3000</RetryTimeout>
  <IdleTimeOutSecs>240</IdleTimeOutSecs>
  <Db>0</Db>
  <Password></Password>
</RedisEndpoint>